
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 100vh;
   min-height: 100vh;
   background-color: rgb(10, 10, 36);
}
.container{
    height: auto;
    max-width: 500px;
    margin: 5px;
    overflow: hidden;
    padding: 10px;

}
.buttons{
    height: min-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
    gap: 10px;
    margin: 3px;
    
}
button{
    padding: 10px 0px;
    border-radius: 10px;
    width: auto;
    border: none;
    cursor: pointer;
    color: black;
    background-color: white;
}
button:hover,
button:focus,
button:active{
background: rgb(168, 166, 166);
font-weight: 700;
font-size: 1.1rem;
box-shadow: 2px 1px 5px white;
}

#cheak{
background-color: chocolate;
color: white;
}
#input{
    height: 50px;
    margin: 10px 5px;
  color: white;
    border-radius: 10px;
    min-width: 300px;
    text-align:center ;
}


#reset{
    grid-column: 2 span;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}
.random{
    border: solid red;
    background-color: rgba(255,0,0);
    height: 100px;
    width: 100px;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    animation: animate 1s linear;
}
.random::selection{
    color: transparent;
}
@keyframes animate{
    0%{
       transform: rotatey(0deg);
       
    }
    10%{
          transform: rotatey(360deg);
          background-color: coral;
          color: coral;
    }
    20%{
          transform: rotatey(0deg);
          background-color: cadetblue;
          color: cadetblue;
    }
    30%{
          transform: rotatey(360deg);
          background-color: blueviolet;
          color: blueviolet;
    }
    40%{
          transform: rotatey(0deg);
          background-color: bisque;
          color: bisque;
    }
    50%{
          transform: rotatey(360deg);
          background-color: aqua;
          color: aqua;
    }
    60%{
          transform: rotatey(0deg);
          background: #000;
          color:#000
    }
    70%{
          transform: rotatey(360deg);
          background-color: orange;
          color:orange;
    }
    80%{
          transform: rotatey(0deg);
          background-color: green;
          color: green;
    }
    90%{
          transform: rotatey(360deg);
          background-color: blue;
          color: blue;
    }
    100%{
       transform: rotatey(0deg);
       background-color: red;
    }
}
#attempt{
    color: white;
}
#msg{
    color: white;
    text-shadow: 3px 2px 10px rgb(255, 5, 5);
    padding: 15px 0px;
    overflow: hidden;
   display: flex;
   width:100%;
   
text-transform: capitalize;
font-weight: 600;
justify-content: center;

}
input::placeholder{
    color: rgba(255, 255, 255, 0.607);
}
